<div class="jumbotron"  >
  <h1 ng-click="sayHello()" ng-keydown="alert('s')">Rainbow rapid chat!</h1>
  <input ng-model="messageInp" ng-keypress="typing($event)">
  <input type="color" class="form-control" value="#000" style="width: 20px;" ng-model="color">
  <table>
    <tr ng-repeat="message in messages.slice().reverse()">
      <td style="text-align: right;">
        <span class="bubble" style="background-color:{{(message.color != null) ? message.color : (message.uid | limitTo : -3 | colorize)}}; border-radius: 6px 0 0 6px"> {{message.uid | limitTo : -3}} <b>{{message.time | date:'HH:mm'}}</b>:</span>
      </td>
      <td>
        <span ng-bind-html="message.text" class="bubble" style="background-color:{{(message.color != null) ? message.color : (message.uid | limitTo : -3 | colorize)}}; border-radius: 0 6px 6px 0"></span>
      </td>
    </tr>
  </table>
</div>
